.WSResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    padding: 20px;
    background-color: rgba(167, 0, 52, .8);
    border-radius: 12px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}