/* Styles for the whole page */
.main{
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the book listings horizontally */
    justify-content: flex-start; /* Aligns the content to the top */
    width: 100%; /* Ensures the main container takes full width */
}

/* Styles for the container */
.WSHome {
    display: flex;
    flex-direction: column; /* Stacks children (buttons) vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: 100%;
    margin-top: 25px;
    flex: auto;
}

/* Styles for each button */
.button {
    background-color: #a70034;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px; /* Adjusted to add space between buttons */
    width: 40%;
    font-size: 20pt;
    flex: auto;
}

.WSForm {
    display: flex;
    flex-direction: column;
    width: 50% !important;
    padding: 30px 15px;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    font-size: 20px;

}

