.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
}

.modal-header {
    display: flex;
    
}

.modal-close-button {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    
}

.modal-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.modal-body-title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .modal .modal-body .modal-body-title .modal-close-button .modal-header .modal-overlay{
        width: 100%;
        max-height: auto;
    }
}
