/* SignInWithMicrosoft.css */

.RegisterContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  width: 50%;
  padding: 20px;
  background: #a70034;
  border-radius: 12px;
}

.LoginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  width: 50%;
  padding: 20px;
  background: #a70034;
  border-radius: 12px;
}

  .registration,
  .login {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    
  }
  input[type="password"],
  input[type="email"] {
    width: auto;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    color: white;
  }
  
  button {
    background-color: grey;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 8px; /* Adjusted to add space between buttons */
    width: 40%;
    font-size: 12pt;
  }
  
  button:hover {
    background-color: darkgrey;
  }
  