/* SignInWithMicrosoft.css */

.WindowContainer {
    /* Styles for the WindowContainer */
    margin: auto;
    margin-top: 10%;
    width: 30%;
    padding: 20px;
    background-color: rgba(167, 0, 52, .8);
    border-radius: 12px;

}

.topText {
    /* Styles for the topText */
    color: white;
    text-align: center;
}

.SchoolText {
    /* Styles for the SchoolText */
    color: white;
    text-align: center;
}

.LogInButton {
    /* Styles for the LogInButton */
    background-color: #8a8d8f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 40%;
    font-size: 20pt;
    display: block;
    margin: 8px auto; /* Center the button horizontally */
}

